Repository zscaler/terraform-provider-zpa, pull requests merged in 2024-05, with the labels that each got.

#449 fix: Added CodeCov Support to GitHub Workflow
  .github/workflows/zpa-test.yml
  .gitignore
  CHANGELOG.md
  GNUmakefile
  README.md
  codecov.yml
  docs/guides/release-notes.md
  zpa/common/testing/variable/variable.go
  zpa/common/version.go
  zpa/resource_zpa_app_connector_group_test.go
  zpa/resource_zpa_lss_config_controller_test.go
  zpa/resource_zpa_service_edge_group_test.go
  zpa/version.go
Labels: type/enhancement, github_actions, ⚙️ In development

#450 fix: Fixed Policy Reorder Resource to validate Deception Rule
  CHANGELOG.md
  GNUmakefile
  docs/data-sources/zpa_service_edge_group.md
  docs/guides/release-notes.md
  docs/resources/zpa_policy_access_rule_reorder.md
  docs/resources/zpa_service_edge_group.md
  zpa/data_source_zpa_service_edge_group.go
  zpa/data_source_zpa_service_edge_group_test.go
  zpa/resource_zpa_policy_access_rule_reorder.go
  zpa/resource_zpa_policy_access_rule_reorder_test.go
  zpa/resource_zpa_service_edge_group.go
  zpa/resource_zpa_service_edge_group_test.go
Labels: type/bug, type/enhancement, ⚙️ In development

#454 Support arbitrary internal test clouds by passing through https:// URLs
  zpa/provider.go
Labels: type/enhancement, ⚙️ In development, new-data-source, new-acceptance-test

#455 feat: Added Application Segment By Type data Source and Fixes
  CHANGELOG.md
  GNUmakefile
  docs/data-sources/zpa_application_segment_by_type.md
  docs/guides/release-notes.md
  examples/zpa_application_segment_by_type/datasource.tf
  go.mod
  go.sum
  zpa/config.go
  zpa/data_source_zpa_application_segment_by_type.go
  zpa/data_source_zpa_application_segment_by_type_test.go
  zpa/data_source_zpa_cloud_browser_isolation_region.go
  zpa/data_source_zpa_customer_version_profile.go
  zpa/data_source_zpa_isolation_profiles.go
  zpa/provider.go
  zpa/resource_zpa_service_edge_group.go
Labels: documentation, type/enhancement, new-acceptance-test
